#featured-panel {
    height: 300px;
    width: 500px;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 2px solid var(--d-grey-d);
    border-radius: 10px;
}

#featured-panel h2 {
    margin: 0;

    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

#featured-panel h2 > span {
    color: var(--cyan-m);
}

#featured-panel a {
    padding: 10px;

    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: black;
    text-decoration: none;

    background-color: var(--white-l);
    border: 2px solid var(--d-grey-d);
    transition: all 75ms ease-in-out;
}

#featured-panel a:hover {
    background-color: var(--cyan-m);
    color: white;
}
