.my-product-card {
    width: 200px;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 10px;

    cursor: pointer;

    border: 2px solid var(--d-grey-d);
    border-radius: 10px;
}

.my-product-card .my-product-info {
    width: 100%;
    max-height: 450px;

    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 10px;
}

.my-product-card p {
    margin: 0;
}

.my-product-card img {
    width: 176px;
    height: auto;
    max-height: 176px;

    border: 1px solid var(--l-grey-d);
    border-radius: 5px;
    overflow: clip;
}

.my-product-card .name {
    max-height: 2.5rem;

    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: black;

    overflow: hidden;
}

.my-product-card .condition {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--grey-d);
}

.my-product-card .product-price {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 600;
    color: black;
}

.my-product-card .shipping-price {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--d-grey-m);
}

.my-product-actions {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.my-product-actions > button {
    flex: 1;

    cursor: pointer;

    color: white;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;

    transition: all 75ms ease-in-out;
}

.my-product-actions > button:first-of-type {
    background-color: var(--cyan-l);
    border: 2px solid var(--cyan-m);
}

.my-product-actions > button:first-of-type:hover {
    background-color: var(--cyan-m);
    border: 2px solid var(--cyan-d);
}

.my-product-actions > button:last-of-type {
    background-color: var(--red-l);
    border: 2px solid var(--red-m);
}

.my-product-actions > button:last-of-type:hover {
    background-color: var(--red-m);
    border: 2px solid var(--red-d);
}
