#header-search-bar {
    height: 100%;
    flex: 1;
}

#header-search-bar input {
    height: 100%;
    width: 100%;
    padding-left: 8px;

    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 400;
    color: var(--grey-d);

    border: 2px solid var(--grey-l);
    border-radius: 5px;

    transition:
        border 75ms ease-in-out,
        color 75ms ease-in-out;
}

#header-search-bar input:focus {
    border: 2px solid var(--d-grey-d);
    color: var(--d-grey-d);

    outline: none;
}
