/* #home-page {
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
} */

#home-page .dev-link {
    margin: 0;

    color: black;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 500;

    cursor: pointer;

    transition: all 75ms ease-in-out;
}

#home-page .dev-link:hover {
    color: var(--cyan-d);
}

#home-page .disabled-dev-link {
    margin: 0;

    color: black;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 500;

    cursor: not-allowed;
}
