#new-shop-page {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;

    background-color: var(--white-l);
}

#new-shop-page h1 {
    margin: 40px 0px 20px;

    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

#new-product-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

#new-product-form .form-error {
    height: 1rem;
    margin: 0;

    color: var(--red-m);
    font-size: 1rem;
    line-height: 1rem;
}

#new-product-form .form-item-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

#new-product-form .form-item-container {
    min-width: 40ch;
    max-width: 80ch;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 5px;
}

#new-product-form .form-item-container label {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 500;
}

#new-shop-page .buttons-container {
    width: 100%;

    align-self: center;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

#new-shop-page .submit {
    max-width: 20ch;
    height: 40px;

    flex: 1;

    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 5px;

    transition: all 75ms ease-in-out;
}

#new-shop-page .submit {
    background-color: var(--cyan-l);
    border: 2px solid var(--cyan-m);
}

#new-shop-page .submit:hover {
    background-color: var(--cyan-m);
    border: 2px solid var(--cyan-d);
}

#new-shop-page .cancel-button {
    background-color: var(--grey-l);
    border: 2px solid var(--grey-m);
}

#new-shop-page .cancel-button:hover {
    background-color: var(--grey-m);
    border: 2px solid var(--grey-d);
}
