#delete-shop-wrapper {
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;

    background-color: var(--white-l);
    border: 2px solid var(--d-grey-d);
    border-radius: 10px;
    overflow: clip;
}

#delete-shop-wrapper h1 {
    margin: 20px 0px 0px;

    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

#delete-shop-wrapper p {
    max-width: 80ch;

    font-size: 1.25rem;
    text-align: center;
}

#delete-shop-wrapper .buttons-container {
    width: 80%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

#delete-shop-wrapper .delete-button,
#delete-shop-wrapper .cancel-button {
    height: 40px;

    flex: 1;

    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 5px;

    transition: all 75ms ease-in-out;
}

#delete-shop-wrapper .delete-button {
    background-color: var(--red-l);
    border: 2px solid var(--red-m);
}

#delete-shop-wrapper .delete-button:hover {
    background-color: var(--red-m);
    border: 2px solid var(--red-d);
}

#delete-shop-wrapper .cancel-button {
    background-color: var(--grey-l);
    border: 2px solid var(--grey-m);
}

#delete-shop-wrapper .cancel-button:hover {
    background-color: var(--grey-m);
    border: 2px solid var(--grey-d);
}
