#products-page {
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-flow: column nowrap;
}

#products-page .info {
    margin: 50px 0px;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    gap: 10px;
}

#products-page h1 {
    margin: 0;

    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    color: black;
}

#products-page .count {
    margin: 0px 0px 0.0625rem; /* Align better with h1 */

    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: var(--d-grey-m);
}

#products-page > ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    list-style: none;
}
