.product-card {
    width: 180px;
    max-height: 330px;
    padding: 5px 5px 20px;

    display: flex;
    flex-flow: column nowrap;
    gap: 8px;

    cursor: pointer;
    border: 2px solid var(--d-grey-d);
    border-radius: 10px;
    overflow: clip;

    transition: all 125ms ease-in-out
}

.product-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 -15px 10px -5px rgba(105, 221, 194, 0.7) inset;
    transform: scale(1.01);

    :is(img) {
        transform: scale(1.01);
    }
}

.product-card p {
    margin: 0;
}

.product-card img {
    height: auto;
    max-height: 180px;
    max-width: 180px;

    border: 1px solid var(--l-grey-d);
    border-radius: 5px;
    overflow: clip;

    transition: all 125ms ease-in-out
}

.product-card .name {
    width: 100%;
    max-height: 2.25rem;

    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: black;

    overflow: hidden;
}

.product-card .condition {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--d-grey-m)
}

.product-card .product-price {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 600;
    color: black;
}

.product-card .shipping-price {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--d-grey-m);
}
