@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button-submit {
        @apply px-4 py-1 rounded-full text-lg cursor-pointer bg-teal-300 transition-colors hover:bg-teal-200;
    }
    .button-submit-disabled {
        @apply px-4 py-1 rounded-full text-lg cursor-not-allowed bg-stone-400 transition-colors hover:bg-red-400;
    }
    .button-cancel {
        @apply px-4 py-1 rounded-full text-lg cursor-pointer bg-stone-400 transition-colors hover:bg-stone-300;
    }
    .transition-hidden {
        visibility: hidden;
        opacity: 0;
        transition: opacity 75ms ease-in-out, visibility 0ms 75ms;
    }
    .transition-visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0ms, opacity 75ms ease-in-out;
    }
}
:root {
    /* Global color scheme */
    --white-l: #f9f9f9;

    --l-grey-l: #eaeaea;
    --l-grey-m: #cdcdcd;
    --l-grey-d: #a4a4a4;

    --grey-l: #8c8c8c;
    --grey-m: #6a6a6a;
    --grey-d: #484848;

    --d-grey-l: #3e3e3e;
    --d-grey-m: #2d2d2d;
    --d-grey-d: #1c1c1c;

    --cyan-l: #69ddc2;
    --cyan-m: #36d1ad;
    --cyan-d: #26a688;

    --red-l: #da5870;
    --red-m: #d23350;
    --red-d: #b82843;
}
* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
html, body, #root {
    height: 100%;
}
